/* Write your CSS code here */
.img-profile-style {
  border-radius: 100%;
  width: 200px;
  height: 200px;
}

.profile-heading {
  font-size: 25px;
  color: #12022f;
  font-family: 'Roboto';
  text-align: center;
}

.profile-paragraph {
  color: #616e7c;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}
